<div class="container">
    <mat-card>
        <h3>Add Posts</h3>
        <form (submit)="onAddPost(postForm)" #postForm="ngForm">
            <mat-form-field>
                <input matInput type="text" placeholder="Title goes Here" ngModel name="title">
            </mat-form-field>
            <mat-form-field>
                <textarea rows="5" matInput ngModel placeholder="content goes here" name="content"></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit">Add Post</button>
            <br>
        </form>        
    </mat-card>
</div>
